
/*
 * Affix and center
 */

@media (min-width: 768px) {

  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }

  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */

  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */

  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 900px;
    .masthead {
      position: relative;
      top: 0;
      margin-bottom: 60px;
    }

    .mastfoot {
      bottom: 0;
      position: relative;
      margin-top: 60px;
    }
  }
}

